*{
    padding:0;
    margin:0;
}
#container{
    width: 400px;
    /*height: 600px;*/
    margin:0 auto;
    background: url("../img/bg.jpg") no-repeat;
    -webkit-background-size: 400px 600px;
    background-size: 400px 600px;
    overflow: hidden;
}
#main{
    width: 400px;
    height: 600px;
    /*background-color: red;*/
    margin-top: 100px;
}
#top{
    width: 360px;
    height: 180px;
    margin:0 auto;
    background-color:  rgba(199,130,30,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#top input{
    outline: none;
    border:0;
    height:20px;
    background-color:  rgba(199,130,30,0);
    color: white;
}

#top .input:nth-child(1){
    /*background-color: lightblue;*/
    /*width: 320px;*/
    height: 50px;
    line-height: 49px;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    margin-right: 20px;
}

#top .input:nth-child(2){
    /*width: 320px;*/
    height: 50px;
    line-height: 49px;
    /*background-color: greenyellow;*/
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}


.rightWords{
    display: inline-block;
    width: 80px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    background-color: white;
    text-align: center;
    position: absolute;
    right:0;
    top: 17px;
    color: rgba(199,130,30,0.5);
    cursor: pointer;
}

/*底部样式开始*/
#bottom{
    width: 360px;
    height: 320px;
    margin:0 auto;
    /*background-color: seagreen;*/
    position: relative;
}
/*修改placeholder字体的颜色*/
input::placeholder{
    color: white;
}

html,body{
    height: 100%;
}

.container{
    background: url("../img/bg.jpg") no-repeat ;
    background-size: cover;
    /*height: 100%;*/
    /*padding-top: 20%;*/
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.top{
    background-color:  rgba(199,130,30,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 300px;
}

.edit{
    outline: none;
    border:0;
    background-color:  rgba(199,130,30,0);
    color: white;
    width: 40%;
    height: 100%;
    margin-left: 5%;
}

[class^="option_"] {
    height: 25%;
    padding-left: 5%;
    padding-right: 5%;
}

.option_1{
    padding-top: 8%;
}
.option_1{
    margin-top: 4%;
}

.option_1 .box {
    height: 100%;
    line-height: 75px;
}

.option_1 .box a{
    color: white;
    text-decoration: none;
    margin-left: 2%;
    font-size: 15px;
    float: right;
}

.rightWord{
    display: inline-block;
    width:30%;
    height: 25px;
    font-size: 12px;
    line-height: 25px   ;
    background-color: white;
    text-align: center;
    color: rgba(199,130,30,0.5);
    cursor: pointer;
}

.hr{
    height: 1px;
    background-color: white;
}

.bottom{
    height: 50%;
}

.btn{
    -webkit-appearance:none;
    width: 80%;
    height: 50px;
    color: darkgrey;
    background-color: #000000;
    outline: none;
    border-radius: 5px;
    border: 0;
    margin-left: 10%;
    margin-top: 50px;
}


#nationlist {
    width: 240px;
    height: 420px;
    overflow: auto;
    margin: auto auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0 none;
    border-radius: 5px;
    padding: 12px 10px;
}

#nationlist .tl:first-child {
    border-top: 0 none;
}
#nationlist .tl {
    font-weight: bold;
    color: #333;
    text-indent: 6px;
    cursor: default;
    border-top: 1px solid #ddd;
}
#nationlist li {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    padding-right: 6px;
    cursor: pointer;
}
li {
    list-style: none;
}

#nationlist li.on {
    color: #fff;
    background-color: #E2BF8D;
}

#nationlist li span {
    float: left;
    width: 60%;
    height: 30px;
}
#nationlist li span {
    text-indent: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

#nationlist li i {
    width: 40%;
    font-style: normal;
    text-align: right;
}
 #nationlist li span {
    float: left;
    width: 60%;
    height: 30px;
}