*{
    padding:0;
    margin:0;
}
#container{
    width: 400px;
    /*height: 600px;*/
    border: 1px solid #eee;
    margin:0 auto;
    background: url("../img/bg.jpg") no-repeat;
    -webkit-background-size: 400px 600px;
    background-size: 400px 600px;
    overflow: hidden;
}
#main{
    width: 400px;
    height: 600px;
    /*background-color: red;*/
    margin-top: 100px;
}
#top{
    width: 360px;
    height: 180px;
    margin:0 auto;
    background-color:  rgba(199,130,30,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#top input{
    outline: none;
    border:0;
    height:20px;
    background-color:  rgba(199,130,30,0);
    color: white;
}

#top .input:nth-child(1){
    /*background-color: lightblue;*/
    /*width: 320px;*/
    height: 50px;
    line-height: 49px;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    margin-right: 20px;
}

#top .input:nth-child(2){
    /*width: 320px;*/
    height: 50px;
    line-height: 49px;
    /*background-color: greenyellow;*/
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}


#top .rightWords{
    display: inline-block;
    width: 80px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    background-color: white;
    text-align: center;
    position: absolute;
    right:0;
    top: 17px;
    color: rgba(199,130,30,0.5);
    cursor: pointer;
}

/*底部样式开始*/
#bottom{
    width: 360px;
    height: 320px;
    margin:0 auto;
    /*background-color: seagreen;*/
    position: relative;
}
#bottom input{
    width: 300px;
    height: 50px;
    background-color: #000;
    color: #cccccc;
    border:0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    left: 30px;
    bottom: 80px;
}

/*修改placeholder字体的颜色*/
input::placeholder{
    color: white;
}
