@media screen and (max-width: 320px){
    #container{
        width: 320px;
        -webkit-background-size: 320px 570px;
        background-size: 320px 570px;
    }
    #main{
        width: 320px;
        height: 470px;
        margin-top: 100px;

    }
    #top{
        width: 290px;
    }
    hr{
        width: 250px;
    }

    /*底部样式开始*/
    #bottom{
        width: 320px;
        height: 320px;
        position: relative;
    }
    #bottom input{
        width: 280px;
        margin: 0 auto;
        position: absolute;
        left: 20px;
        bottom: 120px;
    }
}
