@media screen and (max-width: 414px){
    #container{
        width: 414px;
    }

    /*header style start*/
    #header{
        width: 414px;
        height: 285px;
        background-size: 414px 285px;
    }
    #header #box{
        width: 414px;
        height: 100px;
        /*background-color: darkred;*/
    }
    /*header style end*/


    /*main style start*/
    #main{
        margin-bottom: 219px;
    }
    #main .input{
        width: 380px;
        height: 60px;
        margin:35px auto;
    }
    #main .input .left_words{
        line-height: 60px;
    }
    #main .input .right_words{
        line-height: 60px;
    }
    /*main style end*/



    /*隐藏视频播放框开始*/
    .video{
        width: 414px;
        margin-top: 20px;
    }

    /*隐藏视频播放框结束*/





    #btn{
        left: 97px;
        top: 110px;
    }
}