/*媒体查询开始*/

@media screen  and (max-width:  375px) {
    #container{
        width: 375px;
    }
    /*header style start*/
    #header{
        width: 375px;
        height: 255px;
        background-size: 375px 255px;
    }
    #header #box{
        width: 375px;
        height: 100px;
        left:0;
        top:50%;
        margin-top: -50px;
        /*background-color: darkred;*/
    }

    /*header style end*/

    /*main style start*/
    #main{
        margin-bottom: 204px;
    }
    #main .input{
        width: 330px;
        height: 60px;
        margin:30px auto;
    }

    #main .input .left_words{
        line-height: 60px;
    }
    #main .input .right_words{
        line-height: 60px;
    }



    /*隐藏视频播放框开始*/
    .video{
        width: 375px;
        margin-top: 20px;
    }

    /*隐藏视频播放框结束*/

    /*必填数据框样式开始*/
    .hideRequiredShow{
        width: 375px;
    }
    .requiredData{
        height: 45px;
    }

    /*必填数据框样式结束*/



    /*选填数据框样式开始*/
    .hideOptionalShow{
        width: 375px;
    }
    .optionalData{
        height: 45px;
    }
    /*选填数据框样式结束*/

    #btn{
        left: 80px;
        top: 80px;
    }
    /*main style end*/

}

/*媒体查询结束*/